[block: main]
<div id="body" class="smooth group">
<div id="content" class="container group">
  <div class="col-12">
    <div class="box">
      <a href="https://www.gamingonlinux.com"><img src="/templates/default/images/gameover.jpg"></a>
      <div class="body group">
        Oh dear, this is slightly embarrassing you appear to be lost! 404 not found.<br />
        <br />
        <a href="https://www.gamingonlinux.com/">Click here to return.</a>
      </div>
    </div>
  </div>
</div>
[/block: main]
