[block: top]
			<!-- about us page -->
				<div class="box">
					<div class="head">About Us</div>
					<div class="body group">A little bit of information on who GamingOnLinux are, we are just a small group of passionate Linux fans who wish to bring you nothing but the best in Linux gaming news. Started by liamdawe on his own in 2009 on a .info address, we later switched to using a .com domain name.<br />
					<br />
					The website source code is open source: <a href="https://gitlab.com/liamdawe/gamingonlinux">https://gitlab.com/liamdawe/gamingonlinux</a></div>
				</div>
[/block: top]

[block: row]
				<div class="box">
					<div class="head"><a href="/profiles/{:user_id}">{:username}</a></div>
					<div class="body group">{:bio}</div>
				</div>
[/block: row]
