[block: announcement_top]
	<div class="box">
[/block: announcement_top]

[block: announcement]
		<div class="body group announce">
			{:text}
		</div>
[/block: announcement]

[block: announcement_bottom]
</div>
[/block: announcement_bottom]
