[block: list]
				<div class="box">
					<div class="head">Latest 20 Comments</div>
				</div>
				
				<div class="box">
					<div class="body list">
						<ul>
							{:comment_posts}
						</ul>
					</div>
				</div>
[/block: list]
