[block: search_bread]
<div class="box">
	<ul class="breadcrumb">
		<li><a href="/index.php?module=game">Games Database</a></li>
		<li><a href="/index.php?module=calendar">Calendar</a></li>
		<li class="active">Searching</li>
	</ul>
</div>
[/block: search_bread]

[block: search]
<div class="box">
	<div class="head">
		Search for a specific game
	</div>
	<div class="body group">
		<form method="get" action="/index.php?module=game-search">
			<input type="hidden" name="module" value="game-search" />
			Game Name: <input type="text" name="q" value="{:search_text}" /><br />
			<button formaction="/index.php?module=game-search" type="submit">Search</button>
		</form>
	</div>
</div>
[/block: search]

[block: search_result_top]
<div class="box">
[/block: search_result_top]

[block: search_items]
<div class="body group">
<a href="/index.php?module=game&game-id={:id}">{:name}</a> {:unreleased} {:best_guess} {:dlc}
</div>
[/block: search_items]

[block: search_result_bottom]
</div>
[/block: search_result_bottom]
