[block: main]
			<!-- rules page -->
                		<div class="box">
					<div class="head">
						Article Guide
					</div>
				</div>
                		<div class="box">
					<div class="body group">
						<strong>Important</strong>: Write your articles locally, save it, then put it online. Don't be daft and write articles directly in the browser.<br />
<br />
						<strong>Titles</strong><br />
						- Article titles must be more than 1 or 2 words and be as descriptive as possible.<br />
						- Good title example "game name RPG is now on Linux", it's only minor, but the game genre helps inform visitors and helps search engines index it.<br />
            - If it's not safe for work, or specifically adult (looking at you Visual Novels and your anime boobs!) please note it!<br />
						- Bad title "game name now on Linux" or "gam name".<br />
						- Don't bait people with overly ambigious headlines. It annoys everyone.<br />
<br />
						<strong>Taglines</strong> (Editors/Admins only, general submissions don't see taglines)<br />
						- A good 90% of visitors would be linked directly to the article, so they will never see the tagline. Don't put anything in the tagline not covered in the article.<br />
<br />
						<strong>Content</strong><br />
						- No excess whitespace, articles should end with the last word/image/video ready for the comments, no extra pointless spacing or anything please. Do not pad articles out, it's extremely annoying.<br />
						- Include the trailer, a game-play one if you can for game updates and new game news (<strong>or at least a screen-shot/art</strong>), not required for editorials.<br />
						- No more than 3 videos per article page as it will slow down page loading rather a lot.<br />
						- Include source links for all quotes if there is a website available for it (unlike an email). Non-sourced quotes are annoying and don't give credit to the people who got them for us to use.<br />
						- <strong>Link the official website</strong>, you would be shocked how many people don't include a single link. Please include a link, please. If you used a source, please link the official post, and thank the site you found it from.<br />
						- <strong>Is your article attacking/naming and shaming a person directly?</strong> Probably not a good idea, but naming a company is okay and blank out all personal names/avatars. Remove all personal identifiers.<br />
<br />
						<strong>Tags</strong> (Editors/Admins only, general submissions don't see tags)<br />
						- Stop forgetting to add tags, if you add them and they don't save REPORT IT AS A BUG.<br />
<br />
						<strong>What to avoid</strong><br />
						- No linkbaiting. Don't make something unclear to link to something else.<br />
<br />
						<strong>Article Rejection</strong> (mainly for submissions from non-editors)<br />
						- It happens, don't take offence, and it happens a fair bit when we get duplicates or we decided to write about it ourselves directly. If you feel an editor used your work and didn't credit you send a <strong>polite</strong> personal message to them if they do not respond then personal message liamdawe the website owner to sort it out directly.<br />
<br />
						PLEASE PREVIEW YOUR ARTICLE, the less another editor has to fix the more likely we are to not only approve the article, but approve it in a timely manner. Does it honestly look how you would want to read it?<br />
					</div>
				</div>
[/block: main]
