[block: top]
<div class="box">
  <div class="body group">
    This is currently in BETA. There are {:total_users} registered users on GamingOnLinux. These statistics are gathered using their manually entered data on their profiles. <strong>Please <a href="https://www.gamingonlinux.com/usercp.php?module=pcinfo">update your profile here</a> to make this as accurate as possible</strong>.<br />
    <br />
    As with any survey, this won't be 100% accurate and should be taken with a pinch of salt.
  </div>
</div>
<div class="box">
  <div class="body group"><strong>Sections:</strong> <a id="monthly_link" href="#">Monthly</a> | <a id="trends_link" href="#">Trends</a></div>
</div>
[/block: top]

[block: monthly_top]
<div id="monthly">
[/block: monthly_top]

[block: picker]
<div class="box">
  <div class="head">Pick which date to display</div>
  <div class="body group">
    <form method="post">
      <select name="picker">{:options}</select> <button type="submit" name="act" value="pick" formaction="/index.php?module=statistics">Change</button>
    </form>
  </div>
</div>
[/block: picker]

[block: info]
<div class="box"><div class="body group">Graphs generated on {:date} UTC</div></div>
[/block: info]

[block: chart_section]
<div class="box">
  <div class="head">
    {:title}
  </div>
  <div class="body group">
    {:graph}
    {:download_link}
    <div style="text-align: center;"><em>Total users who answered this question: {:total_users}</em></div>
    {:full_info}
  </div>
</div>
[/block: chart_section]

[block: monthly_bottom]
</div>
[/block: monthly_bottom]

[block: trends_top]
<div id="trends" style="display: none;">
  <div class="box">
    <div class="body group">You can interact with these graphs. Click a label to disable/enable it to fine-tune your experience when looking at it</div>
  </div>
[/block: trends_top]

[block: trend_chart]
  <div class="box">
    <div class="head">
      {:title}
    </div>
    <div class="body group">
      {:graph}
    </div>
  </div>
[/block: trend_chart]

[block: trends_bottom]
</div>
[/block: trends_bottom]
