[block: main]
<div class="box"><div class="head">Here you can change your email address.</div></div>
<div class="box">
	<div class="body group">
	<form method="post" action="/usercp.php?module=email" role="form">
	Current Email: {:current_email}<br />
	New Email: <input type="text" name="new_email" /><br />
	<input type="submit" name="Update" value="Update" />
	</form>
	</div>
</div>
[/block: main]
