[block: pcdeets]
<form method="post">
<div class="box">
	<div class="head">Computer info</div>
	<div class="body group profile">
		You last updated yours: {:date_updated}<br />
		<label>Make public? <input type="checkbox" name="public" {:public_check}/></label>
	</div>
	<div class="head">Signature image</div>
	<div class="body group profile">
		<em>For use on other sites, must be set to public for it to work</em><br />
		<img src="https://www.gamingonlinux.com/signature.php?id={:user_id}" alt="signature image" /><br />
		Plain url: <input type="text" value="https://www.gamingonlinux.com/signature.php?id={:user_id}" /><br />
		BBCode with link: <input type="text" value="[url=https://www.gamingonlinux.com][img]https://www.gamingonlinux.com/signature.php?id={:user_id}[/img][/url]" />
	</div>
	<div class="head">Fill it as much as you can below, and be honest with it</div>
	<div class="body group profile">
		<strong><img src="/templates/default/images/distros/linux_icon.png" alt="linux icon" /> Distribution:</strong><br />
		Please make sure you select the exact distro you are using.<br />
		We separate things like Ubuntu &amp; Xubuntu, Arch &amp; Manjaro etc.<br />
		<select name="distribution"><option value=""></option>{:distro_list}</select><br />
		<strong>Desktop Environment:</strong><br />
		<select name="desktop"><option value=""></option>{:desktop_list}</select><br />
		<strong>Distro Architecture:</strong><br />
		<select name="what_bits"><option value=""></option>{:what_bits_options}</select><br />
		<strong>Do you dual-boot with a different operating system?</strong><br />
		<select name="dual_boot"><option value=""></option>{:dual_boot_options}</select>
		<strong>CPU Vendor:</strong><br />
		<select name="cpu_vendor"><option value=""></option>{:cpu_options}</select><br />
		<strong>CPU Model:</strong><br />
		<input type="text" name="cpu_model" value="{:cpu_model}"/><br />
		<strong>GPU Vendor:</strong>
		<select name="gpu_vendor"><option value=""></option>{:gpu_options}</select><br />
		<strong>GPU Model:</strong><br />
		<input type="text" name="gpu_model" value="{:gpu_model}"/><br />
		<strong>GPU Driver:</strong>
		<select name="gpu_driver"><option value=""></option>{:gpu_driver}</select><br />
		<strong>RAM:</strong>
		<select name="ram_count"><option value=""></option>{:ram_options}</select><br />
		<strong>Monitors:</strong>
		<select name="monitor_count"><option value=""></option>{:monitor_options}</select><br />
		<strong>Main Gaming Resolution</strong><br />
		<select name="resolution"><option value=""></option>{:resolution_options}</select><br />
		<strong>Main gaming machine:</strong>
		<select name="gaming_machine_type"><option value=""></option>{:machine_options}</select><br />
		<strong>Main Gamepad</strong>
		<select name="gamepad"><option value=""></option>{:gamepad_options}</select><br />
	</div>
	<button type="submit" name="act" value="Update" formaction="/usercp.php?module=pcinfo">Update</button><br />
	<br />
</div>
</form>
[/block: pcdeets]
