[block: top]
<div class="box"><div class="head">Welcome to the User Control Panel</div></div>
[/block: top]

[block: premium]
<div class="box">
	<div class="body group">
		<form method="post" action="{:url}usercp.php?module=home">
			<a href="/donate/"><strong>GOL Premium</strong></a>
			<label>Select your preferred theme:<br />
			<select name="theme" {:state}>
				{:theme_options}
			</select></label>
			{:supporter_link}<br />
			<button type="submit" name="act" value="premium" class="{:state}">Update</button>
		</form>
	</div>
</div>
[/block: premium]

[block: main]
{:twitter_button}
{:steam_button}
<div class="box">
	<div class="body group">
		<form method="post" action="{:url}usercp.php?module=home">
			{:profile_fields}
			<strong>Forum type</strong><br />
			<em>What type of forum do you want displayed?</em><br />
			<select name="forum_type">{:forum_types}</select><br />
			<br />
			<strong>Articles &amp; Forum topics</strong><br />
			Article paging<br />
			<em>Display articles meant for multiple pages as one single page?</em><br />
			<select name="single_article_page"><option value="1" {:single_article_yes}>Yes</option><option value="0" {:single_article_no}>No</option></select><br />
			Comments &amp; forum posts per-page:<br />
			<select name="per-page">{:per-page}</select><br />
			Articles per-page, for homepage and category (tag) view:<br />
			<select name="articles-per-page">{:aper-page}</select><br />
			<br />
			<label for="bio">Biography, for Editors this will show on articles you create, for normal users it will just show it on your profile, keep it short.</label>
			<textarea name="bio" cols="100" rows="10">{:bio}</textarea><br />
			{:submission_emails}
			<button type="submit" name="act" value="Update">Update</button>
		</form>
	</div>
</div>
[/block: main]
