[block: menu]
				<!-- Facebook IFrame Sidebar -->
				<div class="box">
					<div class="head">Facebook</div>
					<div class="body">
						<div class="fb-like-box" data-href="https://www.facebook.com/gamingonlinux" data-width="250px" data-height="240px" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
					</div>
				</div>
[/block: menu]
