[block: add]
<div class="alert alert-info no-bottom-margin"><h4>Add a new Carousel here.</h4></div>
<form method="post" action="admin.php?module=carousel" enctype="multipart/form-data" id="something">
	Carousel Image (Must be {:max_width} width, {:max_height} height). Max of 55kb!<br />
	<input name="new_image" id="new_image" size="30" type="file" class="fileUpload" /><br />
	Caption: <br />
	<input type="text" name="caption" class="input-xlarge" /><br />
	Link: <em>Where the image and caption will link</em><br />
	<input type="text" name="link" class="input-xlarge" /><br />
	<label>Activate it now? <input type="checkbox" name="active" /><br />
	<button type="submit" name="act" value="add" class="btn btn-primary">Add</button>
</form>
[/block: add]

[block: manage_top]
<div class="alert alert-info no-bottom-margin"><h4>Manage the picture Carousel here.</h4></div>
[/block: manage_top]

[block: manage_item]
<form method="post" action="admin.php?module=carousel" enctype="multipart/form-data" id="something">
	{:current_image}
	Carousel Image (Must be {:max_width} width, {:max_height} height). Max of 55kb!<br />
	<input name="new_image" id="new_image" size="30" type="file" class="fileUpload" /><br />
	Caption: <br />
	<input type="text" name="caption" class="input-xlarge" value="{:caption}" class="form-control" /><br />
	Link: <em>Where the image and caption will link</em><br />
	<input type="text" name="link" class="input-xlarge" value="{:link}" class="form-control" /><br />
	<br />
	<select name="order" class="form-control">{:order_options}</select><br />
	<label>Activate it now? <input type="checkbox" name="active" {:active}/><br />
	<button type="submit" name="act" value="edit" class="btn btn-primary">Edit</button> <button type="submit" name="act" value="delete" class="btn btn-primary">Delete</button>
	<input type="hidden" name="item_id" value="{:item_id}" />
</form>
[/block: manage_item]
