[block: main]
				<div class="box">
					<div class="head">Viewing more Editor Comments</div>
				</div>
[/block: main]

[block: comments_alltop]
				<div class="box">
					<div class="head">Message all editors here</div>
				</div>

				<div class="box">
					<div class="body group">
						<form method="post" action="admin.php?module=more_comments">
							<textarea name="text" class="form-control" rows="5"></textarea><br />
							<button class="btn btn-primary" type="submit" name="act" value="commentall">Add Comment</button>
						</form>
					</div>
				</div>
				{:pagination}
				<div class="box comments group">
					<div class="head"><a name="comments">Comments</a></div>
					<div class="body group">
[/block: comments_alltop]

[block: commentall]
						<div id="r{:comment_id}" class="comment group">
							<div class="comment-meta group">
								<div class="comment-post">
									{:username} commented <abbr title="{:tzdate}" class="timeago">on {:date}</abbr>
								</div>
							</div>
							<div class="comment-author">
								<img class="avatar" alt="" src="{:comment_avatar}" />
							</div>
							<div id="{:comment_id}" class="comment-body">
								<div id="{:comment_id}">
									<p>{:editor_comments}</p>
								</div>
								<div class="comment-quote">{:text_plain}</div>
							</div>
						</div>
[/block: commentall]

[block: comments_bottomall]
					</div>
				</div>
			{:pagination}
[/block: comments_bottomall]
