[block: giveaway_add]
<div class="box">
	<div class="head">Add a new giveaway</div>
	<div class="body group">
		<form method="post" action="admin.php?module=giveaways">
			Game name: <input type="text" name="name" /><br />
			Game keys, put each one on a new line.<br />
			<textarea name="list" cols="100" rows="10"></textarea><br />
			<button type="submit" name="act" value="add">Add</button>
		</form>
	</div>
</div>
[/block: giveaway_add]

[block: manage_top]
<div class="box"><div class="head">Manage current giveaways NOT FINISHED</div></div>
[/block: manage_top]

[block: row]
<div class="box"><div class="body group"><a href="/admin.php?module=giveaways&manage={:id}">{:name}</a></div></div>
[/block: row]

[block: key_list_top]
<div class="box">
	<div class="head">Managing keys for "{:name}"</div>
	<div class="body group">Claimed: {:claimed}/{:total}</div>
</div>
<div class="box"><div class="head">Key list</div></div>
[/block: key_list_top]

[block: key_row]
<div class="box"><div class="body group">{:key} {:profile_link}</div></div>
[/block: key_row]
