[block: main]
<div class="box">
	<div class="head">Games Database &amp; Calendar Admin</div>
	<div class="body list">
	<ul class="list-group">
		<li class="list-group-item"><a href="admin.php?module=games&view=add">Add Game</a></li>
		<li class="list-group-item"><a href="/index.php?module=calendar">View Calendar</a></li>
		<li class="list-group-item"><a href="admin.php?module=calendar&view=submitted">Submitted Games {:counter}</a></li>
	</ul>
	</div>
</div>
[/block: main]
