[block: content]
				<div class="box">
					<div class="head">Manage Charts</div>
					<div class="body list">
						<ul class="nav nav-list">
							<li><a href="admin.php?module=charts&amp;view=add">Create new chart</a></li>
							<li><a href="admin.php?module=charts&amp;view=manage">Manage your current charts</a></li>
							<li><a href="admin.php?module=charts&amp;view=manage_stats">Manage user stats charts</a></li>
						</ul>
					</div>
					</div>
				</div>
[/block: content]
