[block: main]
<div class="box">
	<div class="head">Users Admin</div>
	<div class="body list">
	<ul class="nav nav-list">
		<li><a href="admin.php?module=users&view=search">Manage Users</a></li>
		<li><a href="admin.php?module=users&view=premium">Premium User List</a></li>
		<li><a href="admin.php?module=users&view=ipban">IP Ban</a></li>
		<li><a href="admin.php?module=users&view=ipbanmanage">Manage IP Bans</a></li>
	</ul>
	</div>
</div>
[/block: main]
