[block: menu]
				<div class="box">
					<div class="body list">
					<ul class="nav nav-list">
						{:module_links}
						<li><a href="/admin.php?module=livestreams&amp;view=submitted">Livestream submissions {:livestream_indicator}</a></li>
					</ul>
					</div>
				</div>
[/block: menu]
